html {
  background-color: grey;
}

header {
  background-image: url("../img/london-street-phone-cabin-163037.jpeg");
  height: 250px;
  }

canvas {
  width: 960px;
  height: auto;
  margin: 0px auto;
  }

img {
  height: 300px;
  width: 300px;
  padding: 0px 10px;
}
#imageBlock {
  width: 970px;
  margin: 0px auto;
  margin-top: 50px;
}